<mat-accordion class="accordion">
  <mat-expansion-panel
    *ngFor="let request of requests$ | async"
    [expanded]="expandedPanel === request.id"
    (opened)="expandedPanelOpen = request.id"
    (closed)="SidenavService.setExpandedAccordionPanel(0)"
  >
    <mat-expansion-panel-header *ngIf="!request.isUser" class="panel-header">
      <!-- <pre>{{ request | json }}</pre> -->
      <span class="request-details">
        <span class="title">
          <i
            class="material-icons-outlined mark-fulfilled"
            matTooltip="Mark as fulfilled"
            (click)="handleMarkFulfilled(request.id)"
          >
            check_circle_outline </i
          ><i
            class="material-icons-outlined mark-fulfilled"
            *ngIf="
              request.republished == 2 &&
              now > (request.allow_republish_at | date: 'dd-MM-yyyy hh:mm:ss a')
            "
            matTooltip="Republish request"
            (click)="handleRepublishRequest(request.id)"
          >
            refresh </i
          >{{ request.title }}</span
        >
        <span class="address">{{ request.address }} </span>
      </span>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <span class="description">
      {{ request.desc }}
    </span>
    <!-- <pre>{{ request.responders.details | json }}</pre> -->
    <div class="responders-list">
      <div
        *ngFor="let responder of request.responders.details"
        class="responder"
      >
        <div class="responder" *ngIf="responder.fullfilment.status == true">
          <p class="responder-name">
            <span
              matTooltip="{{ responder.firstName }} {{
                responder.lastName
              }} has responded to your request"
              >{{ responder.firstName }} {{ responder.lastName }}
              <!-- {{ responder | json }} -->
            </span>
            <span
              class="material-icons-outlined remove-responder"
              matTooltip="Remove {{ responder.firstName }} {{
                responder.lastName
              }} from responders"
              (click)="handleRemoveResponder(responder.fullfilment)"
              >close</span
            >
          </p>
          <div class="button-holder" *ngIf="expandedPanelOpen === request.id">
            <button
              mat-button
              #showMessagesButton
              (click)="handleShowMessages(responder.fullfilment.id)"
            >
              <i class="material-icons-outlined" matTooltip="Go to messages">
                message
              </i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>

  <!-- requests.length:: {{ requests.length }} :: {{ requests.length === 0 }} -->
  <p *ngIf="myRequestsLength === 0" class="warning">
    Your don't have any requests.
  </p>
</mat-accordion>

<!-- Go to messages (req_id: {{ request.id }}, res_id: {{ responder.id }}) -->
