<mat-accordion class="accordion">
  <mat-expansion-panel
    *ngFor="let request of requests$ | async"
    [expanded]="expandedPanel === request.id"
  >
    <mat-expansion-panel-header *ngIf="!request.isUser" class="panel-header">
      <!-- <pre>{{ request | json }}</pre> -->
      <span class="title">{{ request.title }}</span>
      <span class="request-type">
        <span
          class="material-icons marker sidepanel"
          [ngClass]="{
            red: request.isOneTime === true,
            green: request.isOneTime === false
          }"
          >pin_drop</span
        ><span *ngIf="request.isOneTime">One time</span>
        <span *ngIf="!request.isOneTime">Material need</span>
      </span>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <span class="description">{{ request.desc }}</span>
    <!-- <pre>{{ request | json }}</pre> -->
    <div class="responders-list">
      <p *ngFor="let responder of request.responders.details">
        <span>{{ responder.firstName }} {{ responder.lastName }}</span>
        <button
          mat-button
          (click)="handleShowMessages(request.id, responder.id)"
        >
          Go to messages (req_id: {{ request.id }}, res_id: {{ responder.id }})
        </button>
        <button mat-button>
          Remove
        </button>
      </p>
    </div>
  </mat-expansion-panel>
  <!-- <app-chat
    class="messages"
    [request_id]="activeThread"
    [responder_id]="responder_id"
    [chat$]="chat$"
    *ngIf="showMessages"
  ></app-chat> -->
  <!-- requests.length:: {{ requests.length }} :: {{ requests.length === 0 }} -->
  <p *ngIf="myRequestsLength === 0" class="warning">
    Your don't have any requests.
  </p>
</mat-accordion>
