<mat-accordion class="accordion">
  <mat-expansion-panel
    *ngFor="let request of requests$ | async"
    (opened)="setStep(request.id)"
    [expanded]="expandedPanel === request.id"
  >
    <mat-expansion-panel-header *ngIf="!request.isUser" class="panel-header">
      <!-- <pre>{{ request | json }}</pre> -->
      <span class="request-details">
        <span class="title">
          <!-- <span
            class="material-icons-outlined marker sidepanel red"
            matTooltip="One-time request"
            *ngIf="request.isOneTime"
            >pin_drop</span
          >
          <span
            class="material-icons-outlined marker sidepanel green"
            matTooltip="Material need"
            *ngIf="!request.isOneTime"
            >pin_drop</span
          > -->
          {{ request.title
          }}<i
            class="material-icons-outlined mark-fulfilled"
            *ngIf="request.republished != 1"
            matTooltip="Mark as fulfilled"
            (click)="handleMarkFulfilled(request.id)"
          >
            check_circle_outline </i
          ><i
            class="material-icons-outlined mark-fulfilled"
            *ngIf="request.republished == 1 && request.ownwer_id"
            matTooltip="Republish request"
            (click)="handleRepublishRequest(request.id)"
          >
            refresh
          </i></span
        >
        <span class="address">{{ request.address }} </span>
      </span>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <span class="description">{{ request.desc }}</span>
    <!-- <pre>{{ request | json }}</pre> -->
    <div class="responders-list">
      <div
        *ngFor="let responder of request.responders.details"
        class="responder"
      >
        <div class="responder" *ngIf="responder.fullfilment.status">
          <p class="responder-name">
            <span
              matTooltip="{{ responder.firstName }} {{
                responder.lastName
              }} has responded to your request"
              >{{ responder.firstName }} {{ responder.lastName }}
            </span>
            <span
              class="material-icons-outlined remove-responder"
              matTooltip="Remove {{ responder.firstName }} {{
                responder.lastName
              }} from responders"
              (click)="handleRemoveResponder(responder.fullfilment)"
              >close</span
            >
          </p>
          <div class="button-holder">
            <button
              mat-button
              (click)="handleShowMessages(request.id, responder.id)"
            >
              <i class="material-icons-outlined" matTooltip="Go to messages">
                message
              </i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <!-- <app-chat
    class="messages"
    [request_id]="activeThread"
    [responder_id]="responder_id"
    [chat$]="chat$"
    *ngIf="showMessages"
  ></app-chat> -->
  <!-- requests.length:: {{ requests.length }} :: {{ requests.length === 0 }} -->
  <p *ngIf="myRequestsLength === 0" class="warning">
    Your don't have any requests.
  </p>
</mat-accordion>

<!-- Go to messages (req_id: {{ request.id }}, res_id: {{ responder.id }}) -->
