<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav #requests mode="over" [(opened)]="isSidenavOpen">
    <button
      mat-button
      class="material-icons menu-icon"
      (click)="toggleRequestSidenav()"
    >
      <p class="material-icons">close</p>
    </button>
    {{ user.firstName }} {{ user.lastName }} ({{ user.id }})
    <mat-tab-group
      selectedIndex="{{ activeTab }}"
      (selectedIndexChange)="indexChanged($event)"
    >
      <mat-tab label="All requests">
        <app-all-requests></app-all-requests
      ></mat-tab>
      <mat-tab label="My resposnes"
        ><app-my-responses [activeTab]="activeTab"></app-my-responses
      ></mat-tab>
      <mat-tab label="My requests"
        ><app-my-requests [activeTab]="activeTab"></app-my-requests
      ></mat-tab>
    </mat-tab-group>
    <app-chat *ngIf="showMessages"></app-chat>
  </mat-sidenav>

  <mat-sidenav-content>
    <button
      mat-button
      class="material-icons menu-icon"
      style="z-index: 1;"
      (click)="toggleRequestSidenav()"
    >
      <p class="material-icons">menu</p>
    </button>
    <app-layout></app-layout>
  </mat-sidenav-content>
</mat-sidenav-container>
