@import "../../_styling/variables.scss";
@import "../../_styling/mixins.scss";

mat-sidenav-container {
  height: 100vh;
}

mat-sidenav.mat-drawer.mat-sidenav {
  width: 485px;
  @include md-max {
    width: 100vw;
  }
}

.accordion {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.mat-tab-label-content .material-icons-outlined {
  font-size: 1.25em;
  margin-right: 4px;
}

.mat-tab-header-pagination {
  display: none !important;
}
.user-actions {
  display: flex;
  justify-content: space-between;
}

.menu-icon {
  @include md-max {
    // background-color: greenyellow;
    left: -0.5em;
    top: -1em;
  }
}

.mat-tab-label {
  @include md-max {
    padding: 0px 12px !important;
  }
}
