<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav #requests mode="over" [(opened)]="isSidenavOpen">
    <div class="user-actions">
      <button
        mat-button
        class="material-icons menu-icon"
        (click)="toggleRequestSidenav()"
      >
        <p class="material-icons">menu_open</p>
      </button>
      <app-user-panel></app-user-panel>
    </div>
    <mat-tab-group
      selectedIndex="{{ activeTab }}"
      (selectedIndexChange)="indexChanged($event)"
    >
      <mat-tab>
        <ng-template mat-tab-label
          ><p class="material-icons">apps</p>
          All</ng-template
        >
        <app-all-requests></app-all-requests
      ></mat-tab>
      <mat-tab>
        <ng-template mat-tab-label
          ><p class="material-icons">emoji_people</p>
          Volunteered</ng-template
        ><app-my-responses [activeTab]="activeTab"></app-my-responses
      ></mat-tab>
      <mat-tab
        ><ng-template mat-tab-label
          ><p class="material-icons">home_work</p>
          My Requests</ng-template
        ><app-my-requests [activeTab]="activeTab"></app-my-requests
      ></mat-tab>
      <!-- TODO: change order of tabs -->
    </mat-tab-group>
    <app-chat *ngIf="showMessages"></app-chat>
  </mat-sidenav>

  <mat-sidenav-content>
    <button
      mat-button
      disabled="{{ !isLoggedIn }}"
      class="material-icons menu-icon"
      style="z-index: 1;"
      (click)="toggleRequestSidenav()"
    >
      <p class="material-icons">menu</p>
    </button>
    <app-layout></app-layout>
  </mat-sidenav-content>
</mat-sidenav-container>
