<!-- <p>chat works! id {{ request_id }}</p> -->
<!-- <pre>
  {{ chatRequest | json }}
</pre> -->
<div class="chat">
  <span class="title">{{ chatRequest.title }}</span>
  <p class="desc">
    {{ chatRequest.desc }}
  </p>
  <div class="message-flow-container">
    <span
      class="request-message"
      [ngClass]="{ 'align-right': mes.sender_id === current_user.id }"
      *ngFor="let mes of chatMessages$"
    >
      <!-- <pre>
          {{ mes | json }}
          current_user: {{ current_user | json }}
        </pre
      > -->

      <p class="message">
        {{ mes.message }}
        <!-- {{ mes.id }}:{{ mes.status }} -->
        <small
          ><span
            *ngIf="mes.receiver_id == current_user.id"
            matTooltip="Received {{ mes.created_at | relativeTime }}"
          >
            by {{ mes.users.sender.firstName }} {{ mes.users.sender.lastName }}
          </span>
          <span
            *ngIf="mes.sender_id == current_user.id && mes.status == 0"
            matTooltip="Sent {{ mes.updated_at | relativeTime }}"
          >
            by {{ mes.users.sender.firstName }} {{ mes.users.sender.lastName }}
            <span class="material-icons-outlined message-tracking">
              call_made
            </span>
          </span>
          <span
            *ngIf="mes.sender_id == current_user.id && mes.status == 1"
            matTooltip="Delivered {{ mes.updated_at | relativeTime }}"
          >
            by {{ mes.users.sender.firstName }} {{ mes.users.sender.lastName }}
            <span class="material-icons-outlined message-tracking">
              done
            </span>
          </span>
          <span
            *ngIf="mes.sender_id == current_user.id && mes.status == 2"
            matTooltip="Displayed {{ mes.updated_at | relativeTime }}"
          >
            by {{ mes.users.sender.firstName }} {{ mes.users.sender.lastName }}
            <span class="material-icons-outlined message-tracking">
              check_circle_outline
            </span>
          </span>
        </small>
      </p></span
    >
  </div>
  <div class="respond-request-form-container">
    <form class="respond-request-form" [formGroup]="newMessageForm" novalidate>
      <mat-form-field class="example-full-width">
        <textarea
          matInput
          #messageText
          placeholder="Type a message"
          formControlName="messageText"
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="8"
          (keydown.enter)="$event.preventDefault()"
          (keyup.enter)="sendMessage()"
        ></textarea>
        <mat-hint align="end"
          >{{ messageText.value?.length || 0 }}/{{ messageMaxLength }}</mat-hint
        >
        <mat-error *ngIf="hasError('messageText', 'required')"
          >Please type in your message</mat-error
        >
        <mat-error *ngIf="hasError('messageText', 'maxlength')"
          >Your message is too long</mat-error
        >
      </mat-form-field>
      <div class="button-holder">
        <button mat-button (click)="closeChat()">Cancel</button>
        <button mat-button (click)="resetChat()">Reset</button>
        <button
          mat-button
          type="submit"
          (click)="sendMessage()"
          [disabled]="!newMessageForm.valid"
        >
          Send message
        </button>
      </div>
    </form>
  </div>
</div>
