.inBoundMarkersList {
  // padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.panel-header {
  min-height: 70px;
}

span.mat-content {
  flex-flow: column;
}
span.material-icons.marker.sidepanel {
  top: 3px;
  font-size: 1rem;
  margin-right: 8px;
}
.title {
  max-width: 300px;
  margin-right: 16px;
  font-family: roboto-medium;
}

.request-type {
  color: hsl(0, 0%, 66%);
}
.description {
  max-width: 300px;
  display: inline-block;
  margin-top: 16px;
}

.warning {
  padding: 1rem;
}
