<mat-accordion class="accordion">
  <mat-expansion-panel *ngFor="let request of requests">
    <mat-expansion-panel-header *ngIf="!request.isUser" class="panel-header">
      <span class="title">{{ request.title }}</span>
      <span class="request-type">
        <span
          class="material-icons marker sidepanel"
          [ngClass]="{
            red: request.isOneTime === true,
            green: request.isOneTime === false
          }"
          >pin_drop</span
        ><span *ngIf="request.isOneTime">One time</span>
        <span *ngIf="!request.isOneTime">Material need</span>
      </span>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <span class="description">{{ request.desc }}</span>
    <pre>{{ request | json }}</pre>
    <mat-action-row>
      <button
        mat-button
        (click)="respondToRequest(request.id)"
        disabled="{{ request.owner_id === current_user }}"
      >
        Respond to request ({{ request.owner_id }}, {{ current_user }}) !!
      </button>
    </mat-action-row>
  </mat-expansion-panel>
  <!-- requests.length:: {{ requests.length }} :: {{ requests.length === 0 }} -->
  <p *ngIf="requests.length === 0" class="warning">
    There are currently no aid requests inside the visible area of the map.
  </p>
</mat-accordion>
