app-counter {
  // z-index: -1;
  position: absolute;
  display: inline-flex;
  right: 4rem;
  bottom: 1.5rem;
  .stats {
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    // width: fit-content;
    border-radius: 10px;
  }
}
