@import "../../_styling/variables.scss";
@import "../../_styling/mixins.scss";

form.registration-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  max-width: 600px;
  margin-bottom: 1em;

  mat-form-field {
    margin: 1rem 0;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  @include md-max {
    width: 70vw;
  }
}

.font-size-12px {
  font-size: 12px;
}

.mat-dialog-container {
  // @include md-max {
  @include md-max-landscape {
    // background: rgb(155, 228, 228);
    // width: 70vw;
    height: unset;
    overflow: scroll;
  }
}
