<mat-accordion class="accordion">
  <mat-expansion-panel
    *ngFor="let request of myResponses$ | async"
    [expanded]="expandedPanel === request.id"
  >
    <mat-expansion-panel-header *ngIf="!request.isUser" class="panel-header">
      <span class="request-details">
        <span class="title">
          <!-- <span
            class="material-icons-outlined marker sidepanel red"
            matTooltip="One-time request"
            *ngIf="request.isOneTime"
            >pin_drop</span
          >
          <span
            class="material-icons-outlined marker sidepanel green"
            matTooltip="Material need"
            *ngIf="!request.isOneTime"
            >pin_drop</span
          > -->
          {{ request.title
          }}<i
            class="material-icons-outlined mark-fulfilled"
            matTooltip="Mark as fulfilled"
            (click)="handleMarkFulfilled(request.id)"
          >
            check_circle_outline
          </i></span
        >
        <span class="address">{{ request.address }}</span>
      </span>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <p>
      {{ request.desc }}
    </p>
    <div class="button-holder">
      <button mat-button (click)="handleShowMessages(request.id)">
        <i class="material-icons-outlined" matTooltip="Go to messages">
          message
        </i>
      </button>
    </div>
  </mat-expansion-panel>
  <!-- <app-chat
    class="messages"
    [request_id]="activeThread"
    [chat$]="chat$"
    *ngIf="showMessages"
  ></app-chat> -->
  <p *ngIf="myResponsesLength === 0" class="warning">
    Your don't have any messages.
  </p>
</mat-accordion>
<!-- Go to messages (id: {{ request.id }}) -->
