<mat-accordion class="accordion">
  <mat-expansion-panel
    *ngFor="let request of myResponses$ | async"
    [expanded]="expandedPanel === request.id"
  >
    <mat-expansion-panel-header *ngIf="!request.isUser" class="panel-header">
      <span class="title">{{ request.title }}</span>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <p>
      {{ request.desc }}
    </p>
    <button mat-button (click)="handleShowMessages(request.id)">
      Go to messages (id: {{ request.id }})
    </button>
  </mat-expansion-panel>
  <app-chat
    class="messages"
    [request_id]="activeThread"
    [chat$]="chat$"
    *ngIf="showMessages"
  ></app-chat>
  <p *ngIf="myResponsesLength === 0" class="warning">
    Your don't have any messages.
  </p>
</mat-accordion>
