<mat-accordion class="my-responses-list">
  <mat-expansion-panel
    *ngFor="let res of myResponsesList"
    [expanded]="expanded === res.request_id"
  >
    <mat-expansion-panel-header *ngIf="!res.isUser" class="panel-header">
      <span class="title">{{ res.title }}</span>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <p>
      {{ res.description }}
    </p>
    <button mat-button (click)="handleShowMessages()">
      Go to messages {{ res.request_id }}
    </button>
    <!-- //TODO: this has to be moved into a new component  -->
    <div class="messages" *ngIf="showMessages">
      <span class="title">{{ res.title }}</span>
      <p>
        {{ res.description }}
      </p>
      <div class="message-flow-container">
        <span
          class="request-message"
          [ngClass]="{ 'align-right': mes.requester_id === mes.user_id }"
          *ngFor="let mes of res.messageFlow"
          ><p class="kop">
            {{ mes.message }}
          </p></span
        >
      </div>
      <form class="respond-request-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Favorite food" value="Sushi" />
        </mat-form-field>
        <button mat-button>Respond to request</button>
        <button mat-button (click)="handleShowMessages()">Cancel</button>
      </form>
    </div>
  </mat-expansion-panel>
</mat-accordion>
