<span class="badge-holder" matTooltip="You have new messages!"
  ><span
    class="badge-content"
    matBadge="{{ notificationsAllBadge }}"
    matBadgeHidden="false"
    matBadgeOverlap="true"
    matBadgeColor="warn"
    [matMenuTriggerFor]="menu"
  ></span>
  <mat-menu #menu="matMenu">
    <div
      *ngFor="let message of notifications$ | async"
      mat-menu-item
      matTooltip="Read message"
      (click)="goToMessages(message.request_id)"
    >
      {{ message.users.sender.firstName }}
      {{ message.users.sender.lastName }} has sent you a message
    </div>
  </mat-menu>
</span>
