<mat-accordion class="accordion" *ngIf="isLoggedIn">
  <mat-expansion-panel *ngFor="let request of requests">
    <mat-expansion-panel-header *ngIf="!request.isUser" class="panel-header">
      <span class="request-details">
        <span class="title">
          <span
            class="material-icons-outlined marker sidepanel red"
            matTooltip="One-time request"
            *ngIf="request.isOneTime"
            >pin_drop</span
          >
          <span
            class="material-icons-outlined marker sidepanel green"
            matTooltip="Material need"
            *ngIf="!request.isOneTime"
            >pin_drop</span
          >{{ request.title }}</span
        >
        <span class="address">{{ request.address }}</span>
      </span>
    </mat-expansion-panel-header>
    <mat-divider></mat-divider>
    <span class="description">{{ request.desc }}</span>
    <!-- <pre>{{ request | json }}</pre> -->
    <mat-action-row>
      <button
        mat-button
        (click)="respondToRequest(request.id)"
        *ngIf="
          request.responders &&
          !request.responders.ids.includes(current_user.id) &&
          request.owner_id !== current_user.id
        "
      >
        Respond to request ({{ request.owner_id }}, {{ current_user.id }}) !!
      </button>
      <button
        mat-button
        (click)="goToMessages(request.id)"
        matTooltip="You have previously responded to this request for help. Click here to check if you have any messages"
        *ngIf="
          request.responders && request.responders.ids.includes(current_user.id)
        "
      >
        Check my responses
      </button>
      <button
        mat-button
        (click)="goToMessagesInMyRequests(request.id)"
        *ngIf="request.owner_id === current_user.id"
        matTooltip="You have posted some requests for help. Click here to message your responders"
        [disabled]="request.responders.ids.length == 0"
      >
        Check my requests
      </button>
    </mat-action-row>
  </mat-expansion-panel>
  <!-- requests.length:: {{ requests.length }} :: {{ requests.length === 0 }} -->
  <p *ngIf="requests.length === 0" class="warning">
    There are currently no aid requests inside the visible area of the map.
  </p>
</mat-accordion>
