<mat-sidenav-container class="example-container" hasBackdrop="false">
  <mat-sidenav #requests mode="over" [(opened)]="requestSidenavOpened">
    <button
      mat-button
      class="material-icons menu-icon"
      (click)="toggleRequestSidenav()"
    >
      <p class="material-icons">menu</p>
    </button>
    <app-requests-sidenav></app-requests-sidenav
  ></mat-sidenav>
  <mat-sidenav
    #messaging
    mode="over"
    position="end"
    [(opened)]="messagingSidenavOpened"
  >
    <button
      mat-button
      class="material-icons menu-icon"
      (click)="toggleMessagingSidenav()"
    >
      <p class="material-icons">menu</p>
    </button>
    <app-messaging></app-messaging
  ></mat-sidenav>
  <mat-sidenav-content>
    <!-- <p><button mat-button >toggle</button></p> -->
    <button
      mat-button
      class="material-icons menu-icon"
      (click)="toggleRequestSidenav()"
    >
      <p class="material-icons">menu</p>
    </button>
    <i
      class="material-icons message"
      matTooltip="My mesages"
      (click)="toggleMessagingSidenav()"
    >
      chat
    </i>

    <app-layout></app-layout>
  </mat-sidenav-content>
</mat-sidenav-container>
