agm-map {
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 0;
}

.gm-style-mtc {
  left: 70px;
  top: 6px;
}

.material-icons-outlined.marker {
  // font-size: 30px;
  position: relative;
  text-shadow: 0px 0px 2px white;
  // top: -24px;
  &.red {
    color: hsl(0, 100%, 45%);
  }
  &.green {
    color: hsl(120, 100%, 20%);
  }
  &.isUser {
    color: hsl(196, 100%, 45%);
  }
}

.si-wrapper-top.si-has-border.agmSnazzyInfoWindow {
  width: 300px;
  margin-top: -45px !important;
  margin-left: 2px !important;

  button.mat-button {
    display: flex;
    margin: 8px;
    /* margin-right: 0; */
    margin-left: auto;
  }

  .si-content-wrapper {
    padding: 1rem 0.5rem 0;
  }

  p.title {
    font-family: roboto-medium;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    margin-left: 1rem;
  }

  p.request-type {
    margin-top: 0;
    margin-left: 1rem;
    margin-bottom: 0;
    font-style: italic;
    color: grey;
  }

  p.description {
    margin: 1rem;
  }

  .si-content {
    overflow: unset;
  }
  .address {
    margin-bottom: 0.5em;
  }
}
