agm-map {
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 0;
}

.gm-style-mtc {
  left: 70px;
  top: 6px;
}

.material-icons {
  &.marker {
    font-size: 3em;
    /* opacity: 0.5; */
    transform: translate(-20%, -38%);
  }
  &.request-one-time {
    color: hsl(203, 44%, 47%);
  }
  &.request-material {
    color: hsl(314, 56%, 51%);
  }
  &.isUser {
    color: hsla(0, 0%, 10%, 0.9);
  }
}

.si-wrapper-top.si-has-border.agmSnazzyInfoWindow {
  width: 300px;
  // position: relative;
  top: 5px;
  // left: 7px;

  button.mat-button {
    display: flex;
    margin: 8px;
    /* margin-right: 0; */
    margin-left: auto;
  }

  .si-content-wrapper {
    padding: 2em 2em 0;
  }

  p.title {
    font-family: roboto-medium;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    margin-left: 1rem;
  }

  p.request-type {
    margin-top: 0;
    margin-left: 1rem;
    margin-bottom: 0;
    font-style: italic;
    color: grey;
  }

  p.description {
    margin: 1rem;
  }

  .si-content {
    overflow: unset;
  }
  .address {
    margin-bottom: 0.5em;
  }
}
