<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map
  [fitBounds]="true"
  [mapTypeControl]="true"
  (boundsChange)="checkMarkersInBounds($event)"
  (mapClick)="addMarker($event)"
>
  <agm-marker
    *ngFor="let m of markers; let i = index"
    [agmFitBounds]="true"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [opacity]="0"
  >
    <agm-overlay [latitude]="m.lat" [longitude]="m.lng">
      <span
        class="material-icons marker"
        [ngClass]="{ red: m.isOneTime === true, green: m.isOneTime === false }"
        >pin_drop</span
      >
    </agm-overlay>

    <agm-snazzy-info-window
      [maxWidth]="500"
      [maxHeight]="500"
      [closeWhenOthersOpen]="true"
      [wrapperClass]="'agmSnazzyInfoWindow'"
    >
      <ng-template>
        <p class="title">{{ m.title }}</p>
        <p *ngIf="m.isOneTime" class="request-type">One-time task</p>
        <p *ngIf="!m.isOneTime" class="request-type">Material need</p>
        <p class="request-type">{{ m.responders }} responses</p>
        <p class="description">{{ m.description }}</p>
        <mat-divider></mat-divider>
        <button mat-button (click)="respondToRequest(m.id)">
          Respond to request
        </button>
      </ng-template>
    </agm-snazzy-info-window>
  </agm-marker>
</agm-map>
