<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map
  [fitBounds]="fitBounds"
  [mapTypeControl]="true"
  (boundsChange)="checkMarkersInBounds($event)"
  (mapClick)="addMarker($event)"
  [styles]="mapStyle"
  [zoom]="initialZoomLevel"
  [latitude]="userPosition.latitude"
  [longitude]="userPosition.longitude"
>
  <agm-marker
    *ngFor="let m of markers; let i = index"
    [agmFitBounds]="true"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [opacity]="0"
  >
    <agm-overlay [latitude]="m.lat" [longitude]="m.lng">
      <span
        class="material-icons marker"
        *ngIf="!m.isUser"
        [ngClass]="{ red: m.isOneTime === true, green: m.isOneTime === false }"
        >pin_drop</span
      >
      <span class="material-icons marker isUser" *ngIf="m.isUser"
        >my_location</span
      >
    </agm-overlay>

    <agm-snazzy-info-window
      [maxWidth]="500"
      [maxHeight]="500"
      [closeWhenOthersOpen]="true"
      [wrapperClass]="'agmSnazzyInfoWindow'"
    >
      <ng-template>
        <!-- <pre>{{m |json}}</pre> -->
        <!-- <p *ngIf="m.isOneTime" class="request-type">One-time task</p> -->
        <!-- <p *ngIf="!m.isOneTime" class="request-type">Material need</p> -->
        <!-- <p class="request-type">{{ m.responders }} responses</p>
        <p class="description">{{ m.description }}</p> -->
        <span class="request-details">
          <span class="title">
            <span
              class="material-icons marker sidepanel red"
              matTooltip="One-time request"
              *ngIf="m.isOneTime"
              >pin_drop</span
            >
            <span
              class="material-icons marker sidepanel green"
              matTooltip="Material need"
              *ngIf="!m.isOneTime"
              >pin_drop</span
            >{{ m.title }}</span
          >
          <span class="address">{{ m.address }}</span>
          <mat-divider></mat-divider>
          <p>
            {{ m.desc }}
          </p>
        </span>
        <mat-divider></mat-divider>
        <button *ngIf="!m.isUser" mat-button (click)="respondToRequest(m.id)">
          Respond to request
        </button>
      </ng-template>
    </agm-snazzy-info-window>
  </agm-marker>
</agm-map>
