<div class="user-panel" *ngIf="user">
  <div class="user-profile">
    <div
      *ngIf="user.image != null"
      [ngStyle]="{
        background: 'url(' + user.image + ')',
        'background-position': 'center',
        'background-size': 'cover',
        'background-repeat': 'no-repeat'
      }"
      class="profile-pic"
    ></div>
    <span>{{ user.firstName }} {{ user.lastName }} </span>
    <button mat-button (click)="logout()" matTooltip="Logout" class="logout">
      [<i class="material-icons-outlined"> closed_outline </i>]
    </button>
  </div>
  <button mat-button (click)="addNewRequest()" matTooltip="Add a new request">
    <i class="material-icons-outlined">
      add_circle_outline
    </i>
  </button>
</div>
