<div class="user-panel" *ngIf="current_user">
  <div class="user-profile">
    <div
      *ngIf="current_user.image != null"
      [ngStyle]="{
        background: 'url(' + current_user.image + ')',
        'background-position': 'center',
        'background-size': 'cover',
        'background-repeat': 'no-repeat'
      }"
      class="profile-pic"
    ></div>
    <span
      >{{ current_user.firstName }} {{ current_user.lastName }} id:{{
        current_user.id
      }}</span
    >
    <button mat-button (click)="logout()" matTooltip="Logout" class="logout">
      [<i class="material-icons-outlined"> closed_outline </i>]
    </button>
  </div>
  <button mat-button (click)="addNewRequest()" matTooltip="Add a new request">
    <i class="material-icons-outlined">
      add_circle_outline
    </i>
  </button>
</div>
