<div class="user-panel" *ngIf="user">
  <div
    *ngIf="user.image != null"
    [ngStyle]="{
      background: 'url(' + user.image + ')',
      'background-position': 'center',
      'background-size': 'cover',
      'background-repeat': 'no-repeat'
    }"
    class="profile-pic"
  ></div>
  <span>{{ user.firstName }} {{ user.lastName }} :: {{ user.id }}</span>
  <button
    mat-button
    (click)="addNewRequest()"
    matTooltip="Add a new request"
    style="margin-left: auto;
  margin-right: 0;"
  >
    <i class="material-icons-outlined">
      add_circle_outline
    </i>
  </button>
  <button mat-button (click)="logout()" matTooltip="Logout">
    <i class="material-icons-outlined">
      exit_to_app
    </i>
  </button>
</div>
