/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/roboto-fontface/css/roboto/roboto-fontface.css";
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");

@import "./app/_styling/variables.scss";
@import "./app/_styling/variables.scss";

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: content-box;
  font-family: "Roboto";
}

.mat-tooltip {
  // background-color: darkblue;
  font-size: 0.9em;
  line-height: 1.5;
}

.mat-simple-snackbar span {
  margin: auto;
  text-align: center;
}
