@import "../../_styling/variables.scss";
@import "../../_styling/mixins.scss";

form.login-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  max-width: 600px;
  margin-bottom: 1em;

  mat-form-field {
    margin: 1rem 0;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  @include md-max {
    width: unset;
  }
}

.register-here {
  text-align: center;
  margin-top: 2em;
}

.register-here > a {
  box-shadow: inset 0 0px 0 white, inset 0 -2px 0 hsl(4, 90%, 58%);
  cursor: pointer;
}
